.About-Hero{
    z-index: -2;
    margin-top: -116px;
    background-size: cover;
}

.Align-About-Hero {
    padding-top: 136px;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Align-About-Hero p {
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}

.About-Hero-Content {
    border-left-style: solid;
    border-top-style: solid;
    border-top-width: 2px;
    border-left-width: 2px;
    border-left-color:#2b3990;
    border-top-color:rgb(218,165,32)
}

.About-Hero-Content p {
    font-size: 18px;
    text-align: justify;
}

.About-Hero-Content p {
    color: rgba(0, 0, 0, 0.836);
    
}


.About-Content{
    background-color: rgb(243,244,249);
}

.Vision-Mission {
   margin-top: -85px;
}

.CEO-Message h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.CEO-Message span {
    color: rgba(0, 0, 167, 0.781);
}

.CEO-Message p {
    text-align: justify;
    color: rgb(77, 77, 77);
}

.CEO-Column img {
    width: 250px;
    border-radius: 100%;
}

.CEO-Row {
    box-shadow: 2px 8px 30px 0px #00000067;
    border-radius: 10px;
}

.CEO-Column {
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, #2b3990 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.CEO-Box {
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(218,165,32) 50%);
    border-style: solid;
    border-color: rgb(218,165,32);
    border-width: 2px;
    border-radius: 100%;
}

.CEO-References p {
    margin-bottom: -3px;
    font-weight: 500;
    color: rgb(49, 49, 49);
}

@media only screen and (max-width: 768px) {
    .About-Hero-Content {
        border-left-style: none;
    }

    .CEO-Column {
        border-bottom-left-radius: 0px;
    }

}

@media only screen and (max-width: 992px) {
    .CEO-Column {
        border-bottom-left-radius: 0px;
        border-bottom-style: solid;
        border-top-right-radius: 10px;
        border-width: 1px;
        border-color: #2b3990;
    }

    .CEO-Column img {
        width: 200px;
    }

    .CEO-References {
        background-color: rgb(255, 255, 255);
        border-style: none;
        border-top-style: solid;
        border-color:#2b3990;
        border-width: 1px;
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}