.Offerings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Top-Offering-Border {
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(218,165,32);
}

.Single-Offering {
    box-shadow: 0px 12px 20px 0px #00000067;
    position: relative;
}

.Backgrund-Offring {
    z-index: -1;
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Backgrund-Offring img {
    height: 90%;
    opacity: 0.2;
}

.Offring-Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Offring-Intro img {
    width: 50px;
}

.Offring-Intro h3 {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2B3990;
    margin-bottom: 0px;
}

.Offring-Intro h6 {
    color: rgb(97, 97, 97);
}

.List-Things li {
    color: black;
}

@media only screen and (max-width: 540px) {
    .Backgrund-Offring img {
        opacity: 0.1;
        height: 50%;
    }

    .Experty-List h5, .Technology-List h5 {
        font-size: 17px;
    }
}