.CardThree {
    box-shadow: 0px 20px 40px 0px #00000060;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}

.CardThree-Image {
    padding-top: 60px;
    position: absolute;
    z-index: 1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardThree-Image img {
    opacity: 0.25;
    width: 100%;
}

.CardThree h3 {
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.CardThree span {
    color: rgba(0, 0, 167, 0.781);
}

.Role-Text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.Role-Text p {
    margin-top: 20px;
    height: 100%;
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Role-Text li{
    z-index: 1;
    font-size: 19px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 540px) {
    .Role-Text p {
        font-size: 18px;
    }
}